*
  box-sizing border-box

.clearfix:after
  content ""
  display table
  clear both

body
  font-family "Helvetica", "Arial", sans-serif
  font-set($color-primary, 14px, 17px)
  font-weight 400

.container
  max-width 1024px
  margin auto
  padding 50px 40px
  outline 1px solid $color-primary
