<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Selectel Test
  link(rel="stylesheet", href="../css/main.css")

body
  div.container.clearfix
    aside.profile
      div.profile__img
        img(src="http://placehold.it/285x220", alt="")
        
      menu.profile__menu#profileMenu
        ul.profile__list
          li.profile__item
            a(href="#") Ослик Иа
          li.profile__item
            a(href="#") Винни-Пух
          li.profile__item
            a(href="#") Кролик
          li.profile__item
            a(href="#") Сова
          li.profile__item
            a(href="#") Пятачок
    div.description
      menu.description__menu#descriptionMenu
        ul.description__list
          li.description__item
            a(href="#") Персонаж
          li.description__item
            a(href="#") Скиллы
        div.description__content
          h1.description__title Ослик Иа
          p.description__text
            |Товарищи! постоянное информационно-пропагандистское обеспечение
            |нашей деятельности представляет собой интересный эксперимент
            |проверки существенных финансовых и административных условий.
            |Разнообразный и богатый опыт дальнейшее развитие различных
            |форм деятельности требуют от нас анализа новых предложений.
            |Разнообразный и богатый опыт сложившаяся структура организации
            |представляет собой интересный эксперимент проверки систем массового
            |участия. Значимость этих проблем настолько очевидна, что дальнейшее
            |развитие различных форм деятельности представляет собой интересный
            |эксперимент проверки дальнейших направлений развития.
            |Товарищи! постоянное информационно-пропагандистское обеспечение
            |нашей деятельности представляет собой интересный эксперимент
            |проверки существенных финансовых и административных условий.
            |Разнообразный и богатый опыт дальнейшее развитие различных
            |форм деятельности требуют от нас анализа новых предложений.
            |Разнообразный и богатый опыт сложившаяся структура организации
            |представляет собой интересный эксперимент проверки систем массового
            |участия. Значимость этих проблем настолько очевидна, что дальнейшее
            |развитие различных форм деятельности представляет собой интересный
            |эксперимент проверки дальнейших направлений развития.
            p.description__text
              |Товарищи! постоянное информационно-пропагандистское обеспечение
              |нашей деятельности представляет собой интересный эксперимент
              |проверки существенных финансовых и административных условий.
              |Разнообразный и богатый опыт дальнейшее развитие различных
              |форм деятельности требуют от нас анализа новых предложений.
              |Разнообразный и богатый опыт сложившаяся структура организации
              |представляет собой интересный эксперимент проверки систем массового
              |участия. Значимость этих проблем настолько очевидна, что дальнейшее
              |развитие различных форм деятельности представляет собой интересный
              |эксперимент проверки дальнейших направлений развития.
              
